body{
  font-family: "Alegreya";
  font-size: 18px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 0, 0, 1);
  height: 75px;
  color: rgba(153, 122, 0, 1);
}

li{
  display: inline-flex;
  margin-right: 25px;
}

h3{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: rgba(153, 122, 0, 1);
}

header h3{
  margin-left: 25px;
}
