body{
  font-family: "Alegreya";
  font-size: 18px;
  background-color: rgba(255, 250, 230, 1);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 0, 0, 1);
  height: 75px;
  color: rgba(153, 122, 0, 1);
}

li{
  display: inline-flex;
}


h3{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: rgba(153, 122, 0, 1);
  padding-left: 15px;
  margin-right: 100px;
}

header h3{
  margin-left: 25px;
}

.header-info{
  margin-right: 40px;
}

.pictures{
  max-width: 1200px;
  background-color: rgba(255, 230, 230, 1);
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 115px 25px;
}

.image{
  width: 500px;
  height: 300px;
  margin: 25px;
  background-position: center;
  background-size: cover;
  border: 4px solid black;
}

.queen{
  background-image: url(../../resources/images/queen.jpg);
}

.tiger{
  background-image: url(../../resources/images/tiger.jpg);
}

.hearts{
  background-image: url(../../resources/images/hearts.jpg);
}

.gray{
  background-image: url(../../resources/images/gray.jpg);
}

.big-pic img{
  width: 100%;
  align-items: center;
}

.bigger{
  max-width: 1200px;
  margin: 0 auto;
}

nav .end{
  width: 100%
  margin: 0 auto;
}

footer{
  text-align: center;
  margin-top: 100px;
  color: rgba(51, 0, 0, 1);
  font-size: 30px;
}

.menu{
display: none;
}

.under{

  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  background-color: rgba(51,0,0,.5);
  height: 140px;
  padding-top: 20px;
  margin-top: 15px;
  width: 100px;
  padding-left: 20px;
  text-align: center;
}

.here{
  position: relative;
}

.tab{
  width: 85px;

}

.here:hover .under{
display: initial;

}

li .tab{
margin-bottom: 20px;
margin-top: 12px;
}
 li .tab a{
   color: black;

 }

 .tab a{
   margin-left: -18px;
 }


.about{
  width: 50%;
  margin: 200px auto;
  line-height: 2;
}
