body{
  font-family: "Alegreya";
  font-size: 18px;
  background-color: rgba(255, 250, 230, 1);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 0, 0, 1);
  height: 75px;
  color: rgba(153, 122, 0, 1);
}

li{
  display: inline-flex;
  margin-right: 25px;
}

h3{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: rgba(153, 122, 0, 1);
}

header h3{
  margin-left: 25px;
}

.pictures{
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 230, 230, 1);
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 115px 25px;
}

.image{
  width: 500px;
  height: 300px;
  margin: 25px;
  background-position: center;
  background-size: cover;
  border: 10px solid black;
}

.queen{
  background-image: url(../../resources/images/queen.jpg);
}

.tiger{
  background-image: url(../../resources/images/tiger.jpg);
}

.hearts{
  background-image: url(../../resources/images/hearts.jpg);
}

.gray{
  background-image: url(../../resources/images/gray.jpeg);
}

.big-image img{
  width: 100%;
}

nav .end{
  width: 100%
  margin: 0 auto;
}

footer{
  text-align: center;
  margin-top: 100px;
  color: rgba(51, 0, 0, 1);
  font-size: 30px;
}
